<header id="page-topbar">
  <div class="navbar-header">
    <div class="d-flex">
      <!-- LOGO -->
      <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-light">
          <span class="logo-sm">
            <img src="assets/images/logo.png" alt="" height="22" />
          </span>
          <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="40" />
            <h5 style="display: inline-block" class="ml-1 text-white mt-1">
              Coin Box Admin
            </h5>
          </span>
        </a>
      </div>

      <button
        type="button"
        class="btn btn-sm px-3 font-size-24 header-item waves-effect"
        id="vertical-menu-btn"
        (click)="toggleSideBar()"
      >
        <i class="ri-menu-2-line align-middle"></i>
      </button>
    </div>

    <div class="d-flex">
      <div class="dropdown d-none d-lg-inline-block ml-1">
        <button
          type="button"
          class="btn header-item noti-icon waves-effect"
          data-toggle="fullscreen"
          (click)="toggleFullScreen()"
        >
          <i class="ri-fullscreen-line"></i>
        </button>
      </div>

      <div class="dropdown d-inline-block user-dropdown" dropdown>
        <button
          type="button"
          class="btn header-item waves-effect"
          id="page-header-user-dropdown"
          dropdownToggle
          aria-controls="dropdown-user"
        >
          <img
            class="rounded-circle header-profile-user"
            src="assets/images/logo.png"
            alt="Header Avatar"
          />
          <span class="d-none d-xl-inline-block ml-1"></span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div
          class="dropdown-menu dropdown-menu-right"
          *dropdownMenu
          id="dropdown-user"
        >
          <!-- item-->
          <!-- <a class="dropdown-item" href="#"
            ><i class="ri-user-line align-middle mr-1"></i> Profile</a
          > -->
          <a class="dropdown-item" routerLink="/my-values"
            ><i class="ri-wallet-2-line align-middle mr-1"></i> My Values</a
          >
          <a class="dropdown-item" routerLink="/users/change-password"
            ><i class="ri-key-line align-middle mr-1"></i> Change Password</a
          >
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item text-danger"
            href="javascript:void(0);"
            (click)="logout()"
            ><i class="ri-shut-down-line align-middle mr-1 text-danger"></i>
            Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</header>
