<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Search Profile</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Search Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form (submit)="search()">
              <div class="form-group mb-0">
                <div class="input-group">
                  <input
                    type="number"
                    class="form-control"
                    name="user_id"
                    placeholder="User ID"
                    [(ngModel)]="user_id"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-dark" [disabled]="loading">
                      Search
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="data?.message">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <p class="mb-0"><b>Name:</b> {{ data?.profile?.details?.name }}</p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>User ID:</b> {{ data?.profile?.details?.referralId }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>Mobile Verified:</b>
              {{ data?.profile?.details?.mobileVerified ? "Yes" : "No" }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>E-Mail Verified:</b>
              {{ data?.profile?.details?.emailVerified ? "Yes" : "No" }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <p class="mb-0">
              <b>Status:</b> {{ data?.details?.accountStatus | titlecase }}
            </p>
          </div>
          <div class="col-md-3 offset-md-3">
            <p class="mb-0">
              <b>Join Date:</b>
              {{ data?.profile?.details?.joiningDate }}
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-3">
          <div class="col-md-3">
            <p class="mb-0">
              <b>Active Membership:</b>
              {{ data?.details?.current_plan?.name | titlecase }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>E-Mail:</b>
              {{ data?.profile?.details?.email }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>Mobile Number:</b>
              {{ data?.profile?.details?.countryMobileCode }}-{{
                data?.profile?.details?.mobileNo
              }}
            </p>
          </div>
        </div>
        <hr />
        <div class="row mt-3">
          <div class="col-md-3">
            <p class="mb-0">
              <b>Autopool Levels:</b>
            </p>
            <p class="mb-0">
              <strong>Copper : </strong>
              {{ data?.wallet?.details?.autopoolLevels?.autopool?.copper }}
            </p>
            <p class="mb-0">
              <strong>Zinc : </strong>
              {{ data?.wallet?.details?.autopoolLevels?.autopool?.zinc }}
            </p>
            <p class="mb-0">
              <strong>Earth : </strong>
              {{ data?.wallet?.details?.autopoolLevels?.autopool?.earth }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>Monthly Fund:</b>
              {{ data?.wallet?.details?.monthlyFund }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <strong>Wallet Balance : </strong>
              {{ data?.wallet?.details?.walletBalance }}
            </p>
            <p class="mb-0">
              <strong>Available Coins : </strong>
              {{ data?.wallet?.details?.availableCoins }}
            </p>
            <p class="mb-0">
              <strong>Activation Balance : </strong>
              {{ data?.wallet?.details?.activateBalance }}
            </p>
            <p class="mb-0">
              <strong>Streamline Bonus : </strong>
              {{ data?.wallet?.details?.streamBonus }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="data?.message">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">
              <b>Upline ID:</b> {{ data?.profile?.details?.uplineId }}
            </p>
          </div>
          <div class="col-md-6">
            <p class="mb-0">
              <b>Upline Name:</b> {{ data?.profile?.details?.uplineName }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="data?.message">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="mb-0">
              <b>Address:</b> <br />
              {{ data?.profile?.details?.address }}
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-3">
            <p class="mb-0">
              <b>City:</b>
              {{ data?.profile?.details?.city }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>State:</b>
              {{ data?.profile?.details?.state }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>Country:</b>
              {{ data?.profile?.details?.country }}
            </p>
          </div>
          <div class="col-md-3">
            <p class="mb-0">
              <b>Pincode:</b>
              {{ data?.profile?.details?.pincode }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
