<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Create Treasure</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">Treasure</li>
            <li class="breadcrumb-item active">Create</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <form method="post" [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name" class="control-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.name?.errors?.required"
                    >Name is required</small
                  >
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label for="announceDate" class="control-label"
                    >Announce Date</label
                  >
                  <div class="input-group">
                    <input
                      type="date"
                      class="form-control"
                      formControlName="announceDate"
                      placeholder="DD-MM-YYYY"
                    />
                    <input
                      type="text"
                      class="form-control"
                      formControlName="announceTime"
                      placeholder="HH:MM:SS"
                      mask="Hh:m0:s0"
                    />
                  </div>
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.announceDate?.errors?.required"
                    >Announce Date is required</small
                  >
                  <small
                    class="text-danger ml-4"
                    *ngIf="submitted && f?.announceTime?.errors?.required"
                    >Announce Time is required</small
                  >
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <label for="cpv" class="control-label">CPV</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="cpv"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.cpv?.errors?.required"
                    >CPV is required</small
                  >
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="user_id" class="control-label">User ID</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="user_id"
                    id="user_id"
                    class="form-control"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.user_id?.errors?.required"
                    >User ID is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-dark" [disabled]="loading">
          <i class="ri-save-3-line"></i> Submit
        </button>
      </div>
    </div>
  </form>
</div>

<notifier-container></notifier-container>
