<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">All Requests</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">All Requests</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 offset-md-9">
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchText"
                  />
                  <div class="input-group-addon">
                    <button
                      class="btn btn-dark waves-effect waves-light"
                      (click)="search()"
                    >
                      <i class="ri-search-line align-middle mr-1"></i> Search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <block-ui message="Loading" *ngIf="loading"></block-ui>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>User Name</th>
                  <th>User ID</th>
                  <th>Status</th>
                  <th>Request ID</th>
                  <th>Amount</th>
                  <th>Created At</th>
                </tr>
              </thead>
              <tbody *blockUI="'loading'">
                <tr *ngFor="let item of list">
                  <td>{{ item?.userName }}</td>
                  <td>{{ item?.userId }}</td>
                  <td>{{ item?.status | titlecase }}</td>
                  <td>{{ item?.requestId }}</td>
                  <td>{{ item.amount }}</td>
                  <td>{{ item?.createdAt | date }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination
            [maxSize]="5"
            [boundaryLinks]="true"
            [totalItems]="total"
            [(ngModel)]="page"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
          ></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
