<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Change Password</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">Change Password</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!pageLoading; else loadingGif">
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="form" (submit)="submit()">
              <div class="form-group">
                <label for="userName" class="control-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  formControlName="userName"
                />
                <small
                  class="text-danger"
                  *ngIf="submitted && f?.userName?.errors?.required"
                  >E-Mail is required</small
                >
              </div>
              <div class="form-group">
                <label for="oldPassword" class="control-label"
                  >Old Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="oldPassword"
                />
                <small
                  class="text-danger"
                  *ngIf="submitted && f?.oldPassword?.errors?.required"
                  >Old Password is required</small
                >
              </div>
              <div class="form-group">
                <label for="newPassword" class="control-label"
                  >New Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  formControlName="newPassword"
                />
                <small
                  class="text-danger"
                  *ngIf="submitted && f?.newPassword?.errors?.required"
                  >New Password is required</small
                >
              </div>
              <div class="form-group">
                <button class="btn btn-dark" [disabled]="loading">
                  <i class="fa fa-circle-notch fa-spin mr-2" *ngIf="loading"></i
                  >Save Changes
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingGif>
    <div class="spinner-border text-dark m-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>

<notifier-container></notifier-container>
