<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Activations & Coins</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Activations</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">Activation - Deactivation</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="User ID"
                  [(ngModel)]="referral_id"
                  (ngModelChange)="getUserInfo()"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-dark btn-block" (click)="activate()">
                  <i class="fa fa-check mr-1"></i> Activate
                </button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-danger btn-block" (click)="deactivate()">
                  <i class="fa fa-times mr-1"></i> Deactivate
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            *ngIf="success?.activation && activation_user?.details?.name"
          >
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Mobile</th>
                      <th>Current Plan</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ activation_user?.details?.name }}</td>
                      <td>{{ activation_user?.details?.email }}</td>
                      <td>{{ activation_user?.details?.mobileNo }}</td>
                      <td>
                        {{
                          activation_user?.details?.current_plan?.name
                            | uppercase
                        }}
                      </td>
                      <td>
                        {{
                          activation_user?.details?.accountStatus | titlecase
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">Membership Activation</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="User ID"
                  [(ngModel)]="m_referral_id"
                  (ngModelChange)="getMembershipUserInfo()"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button
                  class="btn btn-dark btn-block"
                  (click)="changePlan('SUBCOP')"
                >
                  Copper
                </button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button
                  class="btn btn-secondary btn-block"
                  (click)="changePlan('SUBZIN')"
                >
                  Zinc
                </button>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button
                  class="btn btn-info btn-block"
                  (click)="changePlan('SUBEAR')"
                >
                  Earth
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            *ngIf="success?.m_activation && m_activation_user?.details?.name"
          >
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Mobile</th>
                      <th>Current Plan</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ m_activation_user?.details?.name }}</td>
                      <td>{{ m_activation_user?.details?.email }}</td>
                      <td>{{ m_activation_user?.details?.mobileNo }}</td>
                      <td>
                        {{
                          m_activation_user?.details?.current_plan?.name
                            | uppercase
                        }}
                      </td>
                      <td>
                        {{
                          m_activation_user?.details?.accountStatus | titlecase
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">CB Coins</h5>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="User ID"
                  [(ngModel)]="c_referral_id"
                  (ngModelChange)="getCoinUserInfo()"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Coins"
                  [(ngModel)]="c_coins"
                />
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-dark btn-block" (click)="addCoins()">
                  Send
                </button>
              </div>
            </div>
          </div>
          <div
            class="row"
            *ngIf="success?.c_activation && c_activation_user?.details?.name"
          >
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th>Name</th>
                      <th>E-Mail</th>
                      <th>Mobile</th>
                      <th>Current Plan</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ c_activation_user?.details?.name }}</td>
                      <td>{{ c_activation_user?.details?.email }}</td>
                      <td>{{ c_activation_user?.details?.mobileNo }}</td>
                      <td>
                        {{
                          c_activation_user?.details?.current_plan?.name
                            | uppercase
                        }}
                      </td>
                      <td>
                        {{
                          c_activation_user?.details?.accountStatus | titlecase
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
