<div class="row no-gutters">
  <div class="col-lg-4">
    <div
      class="authentication-page-content p-4 d-flex align-items-center min-vh-100"
    >
      <div class="w-100">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div>
              <div class="text-center">
                <div>
                  <a routerLink="/" class="logo"
                    ><img src="assets/images/logo.png" height="100" alt="logo"
                  /></a>
                </div>

                <h4 class="font-size-18 mt-4">Welcome Back !</h4>
                <p class="text-muted">Sign in to continue to Admin Panel.</p>
              </div>

              <div class="p-2 mt-5">
                <form
                  class="form-horizontal"
                  [formGroup]="form"
                  (ngSubmit)="submit()"
                  *ngIf="showForm; else loadingForm"
                >
                  <div class="form-group auth-form-group-custom mb-4">
                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                    <label for="username">Username</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username"
                      placeholder="Enter username"
                      formControlName="username"
                    />
                    <ng-container *ngIf="submitted && f?.username?.errors">
                      <small
                        class="text-danger"
                        *ngIf="f?.username?.errors?.required"
                        >Username is required</small
                      >
                    </ng-container>
                  </div>

                  <div class="form-group auth-form-group-custom mb-4">
                    <i class="ri-lock-2-line auti-custom-input-icon"></i>
                    <label for="userpassword">Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="userpassword"
                      placeholder="Enter password"
                      formControlName="password"
                    />
                    <ng-container *ngIf="submitted && f?.password?.errors">
                      <small
                        class="text-danger"
                        *ngIf="f?.password?.errors?.required"
                        >Password is required</small
                      >
                    </ng-container>
                  </div>

                  <div class="mt-4 text-center">
                    <button
                      class="btn btn-dark w-md waves-effect waves-light"
                      type="submit"
                      [disabled]="loading"
                    >
                      <i class="mdi mdi-login mr-2" *ngIf="!loading"></i>
                      <i
                        class="fa fa-circle-notch fa-spin mr-2"
                        *ngIf="loading"
                      ></i>
                      Log In
                    </button>
                  </div>

                  <div class="mt-4 text-center">
                    <a routerLink="/auth/forgot-password" class="text-muted">
                      <i class="mdi mdi-lock mr-1"></i> Forgot your password?
                    </a>
                  </div>
                </form>
                <ng-template #loadingForm>
                  <div class="text-center">
                    <i class="fa fa-circle-notch fa-spin fa-2x"></i></div
                ></ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="authentication-bg">
      <div class="bg-overlay"></div>
    </div>
  </div>
</div>

<notifier-container></notifier-container>
