<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">News</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">News</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-right">
      <a routerLink="create" class="btn btn-dark waves-effect waves-light"
        ><i class="ri-add-line align-middle mr-1"></i> Create News</a
      >
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <block-ui message="Loading" *ngIf="loading"></block-ui>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Status</th>
                  <th>Created At</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *blockUI="'loading'">
                <tr *ngFor="let item of list">
                  <td>{{ item?.title }}</td>
                  <td>{{ item?.description }}</td>
                  <td>
                    <span
                      class="badge"
                      [ngClass]="{
                        'badge-success': item?.isActive,
                        'badge-danger': !item?.isActive
                      }"
                      >{{ item?.isActive ? "Active" : "In-Active" }}</span
                    >
                  </td>
                  <td>{{ item?.createdAt | date }}</td>
                  <td>
                    <a
                      routerLink="{{ item?._id }}/edit"
                      class="btn btn-info btn-sm waves-effect waves-light mr-1"
                      tooltip="Edit"
                    >
                      <i class="ri-pencil-line align-middle"></i> Edit
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
