<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="list-unstyled" id="side-menu" metis-menu>
        <li class="menu-title">Menu</li>

        <li>
          <a routerLink="/dashboard" class="waves-effect">
            <i class="ri-dashboard-line mr-1"></i>
            <span>Dashboard</span>
          </a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-account-circle-line mr-1"></i>
            <span>Users</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li><a routerLink="/users">All Users</a></li>
            <li><a routerLink="/users/create">Add New</a></li>
            <li><a routerLink="/users/panel">Activations & Coins</a></li>
            <li><a routerLink="/users/search-profile">Search Profile</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-mail-line mr-1"></i>
            <span>Requests</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li><a routerLink="/requests/all">All Requests</a></li>
            <li><a routerLink="/requests/withdraw">Withdraw Requests</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-newspaper-line mr-1"></i><span>News</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li><a routerLink="/news">All News</a></li>
            <li><a routerLink="/news/create">Add New</a></li>
          </ul>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-trophy-line mr-1"></i><span>Treasures</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li><a routerLink="/treasures">All Treasures</a></li>
            <li><a routerLink="/treasures/create">Add New</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-file-upload-line mr-1"></i><span>Files</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li>
              <a routerLink="/files/upload-subscription-file"
                >Upload Subscription File</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-download-line mr-1"></i><span>Downlines</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li>
              <a routerLink="/downlines/search">Search</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="ri-money-dollar-circle-line mr-1"></i
            ><span>Payments</span>
          </a>
          <ul class="sub-menu mm-collapse">
            <li>
              <a routerLink="/payments">Histories</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->
