<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">My Values</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">My Values</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!pageLoading; else loadingGif">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12" *ngIf="copper != undefined">
            <div class="card">
              <h4 class="card-header mt-0 text-center">COPPER</h4>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Value:</th>
                      <td>{{ copper?.amount }}</td>
                    </tr>
                    <tr>
                      <th>Referral Income:</th>
                      <td>{{ copper?.referralIncome }}</td>
                    </tr>
                    <tr>
                      <th>Level:</th>
                      <td>{{ copper?.levelIncome }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="zinc != undefined">
            <div class="card">
              <h4 class="card-header mt-0 text-center">ZINC</h4>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Value:</th>
                      <td>{{ zinc?.amount }}</td>
                    </tr>
                    <tr>
                      <th>Referral Income:</th>
                      <td>{{ zinc?.referralIncome }}</td>
                    </tr>
                    <tr>
                      <th>Level:</th>
                      <td>{{ zinc?.levelIncome }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="earth != undefined">
            <div class="card">
              <h4 class="card-header mt-0 text-center">EARTH</h4>
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Value:</th>
                      <td>{{ earth?.amount }}</td>
                    </tr>
                    <tr>
                      <th>Referral Income:</th>
                      <td>{{ earth?.referralIncome }}</td>
                    </tr>
                    <tr>
                      <th>Level:</th>
                      <td>{{ earth?.levelIncome }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12" *ngIf="golden != null || platinum != null">
            <div class="card">
              <div class="card-body">
                <ng-container *ngIf="golden != null">
                  <h5 class="mb-3">Golden Benefits:</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Monthly Income:</th>
                        <td>{{ golden?.benefits?.monthly_income }}</td>
                      </tr>
                      <tr>
                        <th>Family Welfare Fund:</th>
                        <td>{{ golden?.benefits?.family_welfare }}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
                <ng-container *ngIf="platinum != null">
                  <h5 class="mb-3">Platinum Benefits:</h5>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Monthly Income:</th>
                        <td>{{ platinum?.benefits?.monthly_income }}</td>
                      </tr>
                      <tr>
                        <th>Family Welfare Fund:</th>
                        <td>{{ platinum?.benefits?.family_welfare }}</td>
                      </tr>
                      <tr>
                        <th>Health & Educational Fund:</th>
                        <td>{{ platinum?.benefits?.health_education }}</td>
                      </tr>
                    </tbody>
                  </table>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-12" *ngIf="data?.lastTreasureWinner?.details">
            <div class="card">
              <div class="card-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Treasure Date & Time:</th>
                      <td>
                        {{ data?.lastTreasureWinner?.details[0]?.announceDate }}
                      </td>
                    </tr>
                    <tr>
                      <th>Treasure Winner:</th>
                      <td>
                        {{ data?.lastTreasureWinner?.details[0]?.userName }}
                      </td>
                    </tr>
                    <tr>
                      <th>Treasure Prize:</th>
                      <td>{{ data?.lastTreasureWinner?.details[0]?.cpv }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="card" *ngIf="data.configData?.details">
              <div class="card-header p-2 text-right">
                <button
                  class="btn btn-dark btn-sm mt-1 mb-1"
                  (click)="editConfig()"
                >
                  <span *ngIf="!edit"
                    ><i class="fa fa-edit mr-1"></i> Edit</span
                  >
                  <span *ngIf="edit"
                    ><i class="fa fa-arrow-left mr-1"></i> Back</span
                  >
                </button>
              </div>
              <div class="card-body">
                <table class="table" *ngIf="!edit">
                  <tbody>
                    <tr>
                      <th>Streamline Limit:</th>
                      <td>{{ data.configData?.details?.streamLineLimit }}</td>
                    </tr>
                    <tr>
                      <th>Admin Charge:</th>
                      <td>{{ data.configData?.details?.adminCharges }}%</td>
                    </tr>
                    <tr>
                      <th>Streamline Bonus:</th>
                      <td>{{ data.configData?.details?.streamLineBonus }}</td>
                    </tr>
                    <tr>
                      <th>Coin Value:</th>
                      <td>
                        {{
                          data.coinHistory?.details?.coinHistory[
                            data.coinHistory?.details?.coinHistory?.length - 1
                          ]?.value
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
                <form [formGroup]="form" (submit)="update()" *ngIf="edit">
                  <div class="form-group">
                    <label for="streamLineLimit" class="control-label"
                      >Streamline Limit</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      formControlName="streamLineLimit"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.streamLineLimit?.errors?.required"
                      >Streamline Limit is required</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="streamLineBonus" class="control-label"
                      >Streamline Bonus</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      formControlName="streamLineBonus"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.streamLineBonus?.errors?.required"
                      >Streamline Bonus is required</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="adminCharges" class="control-label"
                      >Admin Charges</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      formControlName="adminCharges"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.adminCharges?.errors?.required"
                      >Admin Charges is required</small
                    >
                  </div>
                  <div class="form-group">
                    <label for="value" class="control-label">Coin Value</label>
                    <input
                      type="number"
                      class="form-control"
                      formControlName="value"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.value?.errors?.required"
                      >Coin value is required</small
                    >
                  </div>
                  <div class="form-group">
                    <button class="btn btn-dark" [disabled]="loading">
                      <i
                        class="fa"
                        [ngClass]="{
                          'fa-edit': !loading,
                          'fa-circle-notch fa-spin': loading
                        }"
                      ></i>
                      Update
                    </button>
                    <button
                      type="button"
                      class="btn btn-outline-dark ml-2"
                      (click)="editConfig()"
                    >
                      <i class="fa fa-arrow-left"></i> Back
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingGif>
    <div class="spinner-border text-dark m-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>

<notifier-container></notifier-container>
