<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Downlines</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">Downlines</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!pageLoading; else loadingGif">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <form [formGroup]="form" (submit)="onSubmit()" novalidate>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group mb-0">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="user_id"
                          placeholder="User ID"
                          [ngClass]="{
                            'is-invalid': submitted && f?.user_id?.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && f?.user_id?.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f?.user_id?.errors?.required">
                            User ID is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group mb-0">
                        <select
                          formControlName="level"
                          class="form-control"
                          [ngClass]="{
                            'is-invalid': submitted && f?.level?.errors
                          }"
                        >
                          <option value="1">Level 1</option>
                          <option value="2">Level 2</option>
                          <option value="3">Level 3</option>
                          <option value="4">Level 4</option>
                          <option value="5">Level 5</option>
                          <option value="6">Level 6</option>
                          <option value="7">Level 7</option>
                          <option value="8">Level 8</option>
                          <option value="9">Level 9</option>
                          <option value="10">Level 10</option>
                        </select>
                        <div
                          *ngIf="submitted && f?.level?.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f?.level?.errors?.required">
                            Level is required
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group mb-0">
                        <button
                          class="btn btn-dark btn-block"
                          [disabled]="searching"
                        >
                          <i
                            class="fa mr-1"
                            [ngClass]="{
                              'fa-circle-notch fa-spin': searching,
                              'fa-search': !searching
                            }"
                          ></i>
                          Search
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row mt-3" *ngIf="data?.details?.userDetails">
              <div class="col-md-12">
                <block-ui message="Loading" *ngIf="searching"></block-ui>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th>Name</th>
                        <th>User ID</th>
                        <th>Referral ID</th>
                        <th>Mobile No</th>
                        <th>Package</th>
                      </tr>
                    </thead>
                    <tbody *blockUI="'loading'">
                      <tr *ngFor="let user of data?.details?.userDetails">
                        <td>{{ user?.name }}</td>
                        <td>{{ user?.user_id }}</td>
                        <td>{{ user?.referralId }}</td>
                        <td>{{ user?.mobileNo }}</td>
                        <td>{{ user.plan }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination
                  [maxSize]="5"
                  [boundaryLinks]="true"
                  [totalItems]="total"
                  [(ngModel)]="page"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  *ngIf="data?.details?.userDetails"
                ></pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingGif>
    <div class="spinner-border text-dark m-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
