<div class="row no-gutters">
  <div class="col-lg-4">
    <div
      class="authentication-page-content p-4 d-flex align-items-center min-vh-100"
    >
      <div class="w-100">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <div>
              <div class="text-center">
                <div>
                  <a routerLink="/" class="logo"
                    ><img src="assets/images/logo.png" height="100" alt="logo"
                  /></a>
                </div>

                <h4 class="font-size-18 mt-4">Reset Password</h4>
                <p class="text-muted">Reset your password of your account.</p>
              </div>

              <div class="p-2 mt-5">
                <form
                  class="form-horizontal"
                  [formGroup]="form"
                  (ngSubmit)="submit()"
                >
                  <div class="form-group auth-form-group-custom mb-4">
                    <i class="ri-user-2-line auti-custom-input-icon"></i>
                    <label for="email">E-mail</label>
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Enter E-Mail"
                      formControlName="email"
                    />
                    <ng-container *ngIf="submitted && f?.email?.errors">
                      <small
                        class="text-danger"
                        *ngIf="f?.email?.errors?.required"
                        >E-Mail is required</small
                      >
                    </ng-container>
                  </div>

                  <div class="mt-4 text-center">
                    <button
                      class="btn btn-dark w-md waves-effect waves-light"
                      type="submit"
                    >
                      <i class="mdi mdi-send mr-2"></i> Send Password Reset Link
                    </button>
                  </div>

                  <div class="mt-4 text-center">
                    <a routerLink="/auth/login" class="text-muted">
                      <i class="mdi mdi-lock mr-1"></i> Back to Login
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="authentication-bg">
      <div class="bg-overlay"></div>
    </div>
  </div>
</div>
