<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Edit News</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">News</li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <form method="post" [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <i class="fa fa-circle-notch fa-spin fa-2x" *ngIf="fetching"></i>
            <ng-container *ngIf="!fetching">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="title" class="control-label">Title</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="title"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.title?.errors?.required"
                      >Title is required</small
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="time" class="control-label">Time</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="time"
                      mask="Hh:m0"
                      placeholder="HH:MM"
                    />
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.time?.errors?.required"
                      >Time is required</small
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="description" class="control-label"
                      >Description</label
                    >
                    <textarea
                      formControlName="description"
                      id="description"
                      cols="30"
                      rows="5"
                      class="form-control"
                    ></textarea>
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.description?.errors?.required"
                      >Description is required</small
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="isActive" class="control-label">Status</label>
                    <select
                      formControlName="isActive"
                      id="isActive"
                      class="form-control"
                    >
                      <option value="true">Active</option>
                      <option value="false">In-Active</option>
                    </select>
                    <small
                      class="text-danger"
                      *ngIf="submitted && f?.isActive?.errors?.required"
                      >Status is required</small
                    >
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-dark" [disabled]="loading">
          <i class="ri-save-3-line"></i> Submit
        </button>
      </div>
    </div>
  </form>
</div>

<notifier-container></notifier-container>
