<div id="layout-wrapper">
  <app-header></app-header>
  <app-leftbar></app-leftbar>
  <div class="main-content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
