<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Dashboard</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!loading; else loadingGif">
    <div class="row">
      <div class="col-xl-8">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">All Users</p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.total }}
                    </h4>
                  </div>
                  <div class="text-primary">
                    <i class="ri-shield-user-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">Active Users</p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.active }}
                    </h4>
                  </div>
                  <div class="text-success">
                    <i class="ri-shield-user-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">
                      Inactive Users
                    </p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.inactive }}
                    </h4>
                  </div>
                  <div class="text-warning">
                    <i class="ri-shield-user-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">
                      Deactivated Users
                    </p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.deactivated }}
                    </h4>
                  </div>
                  <div class="text-danger">
                    <i class="ri-shield-user-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">Golden Users</p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.golden }}
                    </h4>
                  </div>
                  <div class="text-warning">
                    <i class="ri-vip-crown-2-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">
                      Platinum Users
                    </p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.platinum }}
                    </h4>
                  </div>
                  <div class="text-primary">
                    <i class="ri-vip-crown-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">
                      Streamline Users
                    </p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.streamline }}
                    </h4>
                  </div>
                  <div class="text-dark">
                    <i class="ri-exchange-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <div class="media">
                  <div class="media-body overflow-hidden">
                    <p class="text-truncate font-size-14 mb-2">
                      Treasure Users
                    </p>
                    <h4 class="mb-0">
                      {{ data?.details?.userCountDetails?.treasure }}
                    </h4>
                  </div>
                  <div class="text-info">
                    <i class="ri-trophy-line font-size-24"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Plan Details</h5>
          </div>
          <div class="card-body">
            <apx-chart
              [series]="chartOptions.series"
              [chart]="chartOptions.chart"
              [labels]="chartOptions.labels"
              [responsive]="chartOptions.responsive"
            ></apx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Wallet Amount Details</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Hold Amount</th>
                        <td>
                          {{ data?.details?.walletAmountDetails?.holdAmount }}
                        </td>
                        <th>Given Amount</th>
                        <td>
                          {{ data?.details?.walletAmountDetails?.givenAmount }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Available Coins</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.holdAvailableCoins
                          }}
                        </td>
                        <th>Given Available Coins</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.givenAvailableCoins
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Activation Balance</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.holdActivationBalance
                          }}
                        </td>
                        <th>Given Activation Balance</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.givenActivationBalance
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Streamline Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.holdStreamlineBonus
                          }}
                        </td>
                        <th>Given Streamline Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.givenStreamlineBonus
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Health Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.holdHealthBonus
                          }}
                        </td>
                        <th>Given Health Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.givenHealthBonus
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Family Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.holdFamilyBonus
                          }}
                        </td>
                        <th>Given Family Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.givenFamilyBonus
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Monthly Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.holdMonthlyBonus
                          }}
                        </td>
                        <th>Given Monthly Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.givenMonthlyBonus
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Treasure</th>
                        <td>
                          {{ data?.details?.walletAmountDetails?.holdTreasure }}
                        </td>
                        <th>Given Treasure</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.givenTreasure
                          }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-md-6">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th>Copper Referral</th>
                        <th>Zinc Referral</th>
                        <th>Earth Referral</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.copperReferral
                          }}
                        </td>
                        <td>
                          {{ data?.details?.walletAmountDetails?.zincReferral }}
                        </td>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.earthReferral
                          }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <th>Copper Level Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.copperLevelHold
                          }}
                        </td>
                        <th>Copper Level Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.copperLevelActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Zinc Level Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.zincLevelHold
                          }}
                        </td>
                        <th>Zinc Level Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.zincLevelActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Earth Level Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.earthLevelHold
                          }}
                        </td>
                        <th>Earth Level Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.earthLevelActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Copper Autopool Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.copperAutopoolHold
                          }}
                        </td>
                        <th>Copper Autopool Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.copperAutopoolActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Zinc Autopool Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.zincAutopoolHold
                          }}
                        </td>
                        <th>Zinc Autopool Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.zincAutopoolActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Earth Autopool Hold</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.earthAutopoolHold
                          }}
                        </td>
                        <th>Earth Autopool Active</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.earthAutopoolActive
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Monthly Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.holdMonthlyBonus
                          }}
                        </td>
                        <th>Given Monthly Bonus</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails
                              ?.givenMonthlyBonus
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Hold Treasure</th>
                        <td>
                          {{ data?.details?.walletAmountDetails?.holdTreasure }}
                        </td>
                        <th>Given Treasure</th>
                        <td>
                          {{
                            data?.details?.walletAmountDetails?.givenTreasure
                          }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loadingGif>
    <div class="spinner-border text-dark m-1" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </ng-template>
</div>
