<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">
          Edit User
          <a routerLink="/users" class="btn btn-dark btn-sm ml-3">
            <i class="ri-arrow-go-back-line"></i> Back to list
          </a>
        </h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Edit</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <form method="post" [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="name" class="control-label">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.name?.errors?.required"
                    >Name is required</small
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="dob" class="control-label">Date of Birth</label>
                  <input
                    type="date"
                    class="form-control"
                    formControlName="dob"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.dob?.errors?.required"
                    >Date of Birth is required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email" class="control-label">E-Mail</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.email?.errors?.required"
                    >E-Mail is required</small
                  >
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.email?.errors?.email"
                    >E-Mail is required</small
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="mobile" class="control-label col-md-12"
                    >Mobile No</label
                  >
                  <div class="row">
                    <div class="col-md-4 pr-0">
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="91"
                          formControlName="countryMobileCode"
                        />
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control"
                          formControlName="mobileNo"
                        />
                      </div>
                    </div>
                  </div>
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.countryMobileCode?.errors?.required"
                    >Country Code is required</small
                  >
                  <div class="clearfix"></div>
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.mobileNo?.errors?.required"
                    >Mobile Number is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="address" class="control-label">Address</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="address"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.address?.errors?.required"
                    >Address is required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="city" class="control-label">City</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="city"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.city?.errors?.required"
                    >City is required</small
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="state" class="control-label">State</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="state"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.state?.errors?.required"
                    >State is required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="country" class="control-label">Country</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="country"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.country?.errors?.required"
                    >Country is required</small
                  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="pincode" class="control-label">Pincode</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="pincode"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.pincode?.errors?.required"
                    >Pincode is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-dark" [disabled]="loading">
          <i class="ri-save-3-line"></i> Save Changes
        </button>
      </div>
    </div>
  </form>
</div>

<notifier-container></notifier-container>
