<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Users</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item active">Users</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <a
                routerLink="create"
                class="btn btn-dark btn-block waves-effect waves-light"
                ><i class="ri-add-line align-middle mr-1"></i> Create New</a
              >
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <!-- <ng-select
                  [items]="statuses"
                  [(ngModel)]="selectedStatus"
                  [multiple]="true"
                  bindLabel="label"
                  bindValue="id"
                >
                  <ng-template
                    ng-option-tmp
                    let-item="item"
                    let-item$="item$"
                    let-index="index"
                  >
                    <input
                      id="item-{{ index }}"
                      type="checkbox"
                      [ngModel]="item$.selected"
                    />
                    {{ item.label | uppercase }}
                  </ng-template>
                </ng-select> -->
                <ng-select
                  [items]="statuses"
                  [(ngModel)]="selectedStatus[0]"
                  bindLabel="label"
                  bindValue="id"
                >
                </ng-select>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button
                  class="btn btn-dark btn-block"
                  (click)="filterByStatus($event)"
                >
                  Filter
                </button>
              </div>
            </div>
            <div class="col-md-3 offset-md-2">
              <div class="form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="searchText"
                  />
                  <div class="input-group-addon">
                    <button
                      class="btn btn-dark waves-effect waves-light"
                      (click)="search()"
                    >
                      <i class="ri-search-line align-middle mr-1"></i> Search
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <block-ui message="Loading" *ngIf="loading"></block-ui>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Referral ID</th>
                  <th>Referred By</th>
                  <th>Status</th>
                  <th>Package</th>
                  <th>Activated At</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *blockUI="'loading'">
                <tr *ngFor="let user of users">
                  <td>{{ user?.name }}</td>
                  <td>{{ user?.referralId }}</td>
                  <td>{{ user?.referredBy }}</td>
                  <td>{{ user?.status | titlecase }}</td>
                  <td>{{ user.package | titlecase }}</td>
                  <td>{{ user?.activation_time }}</td>
                  <td>
                    <a
                      routerLink="{{ user?.hash }}/edit"
                      class="btn btn-warning btn-sm waves-effect waves-light"
                      tooltip="Edit"
                    >
                      <i class="ri-pencil-line align-middle"></i> Edit
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination
            [maxSize]="5"
            [boundaryLinks]="true"
            [totalItems]="total"
            [(ngModel)]="page"
            (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;"
            nextText="&rsaquo;"
            firstText="&laquo;"
            lastText="&raquo;"
          ></pagination>
        </div>
      </div>
    </div>
  </div>
</div>
