<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0">Upload Files for a subscription</h4>

        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">
              <a href="javascript: void(0);">Home</a>
            </li>
            <li class="breadcrumb-item">Files</li>
            <li class="breadcrumb-item active">Upload Subscription File</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <form method="post" [formGroup]="form" (submit)="submit()">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="location" class="control-label">Plan</label>
                  <select class="form-control" formControlName="location">
                    <option value="COPPER">COPPER</option>
                    <option value="ZINC">ZINC</option>
                    <option value="EARTH">EARTH</option>
                  </select>
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.location?.errors?.required"
                    >Plan is required</small
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image" class="control-label">Image</label>
                  <br />
                  <input
                    type="file"
                    (change)="onUploadChange($event)"
                    accept=".png, .jpg, .jpeg"
                    class="mb-2"
                    id="upload-image"
                    formControlName="image"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.image?.errors?.required"
                    >Image is required</small
                  >
                  <img
                    *ngIf="base64textString"
                    src="{{ base64textString }}"
                    class="img-fluid"
                    alt="Image"
                    id="img"
                  />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image" class="control-label">PDF</label>
                  <br />
                  <input
                    type="file"
                    accept=".pdf"
                    class="mb-2"
                    id="upload-pdf"
                    formControlName="pdf"
                  />
                  <small
                    class="text-danger"
                    *ngIf="submitted && f?.pdf?.errors?.required"
                    >PDF is required</small
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-dark" [disabled]="loading">
          <i class="ri-save-3-line" *ngIf="!loading"></i>
          <i class="fa fa-circle-notch fa-spin" *ngIf="loading"></i> Submit
        </button>
      </div>
    </div>
  </form>
</div>

<notifier-container></notifier-container>
