<div class="card overflow-hidden">
  <div class="bg-login text-center">
    <div class="bg-login-overlay"></div>
    <div class="position-relative">
      <h5 class="text-white font-size-20">Forgot Username</h5>
      <p class="text-white mb-0">Retrieve your forgotten username.</p>
    </div>
  </div>
  <div class="card-body pt-3">
    <div class="p-2">
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="username">E-Mail</label>
          <input
            type="text"
            class="form-control"
            id="email"
            placeholder="Enter E-Mail"
            formControlName="email"
          />
          <ng-container *ngIf="submitted && f?.email?.errors">
            <small class="text-danger" *ngIf="f?.email?.errors?.required"
              >E-Mail is required</small
            >
          </ng-container>
        </div>

        <div class="mt-3">
          <button
            class="btn btn-primary btn-block waves-effect waves-light"
            type="submit"
          >
            <i class="mdi mdi-check mr-1"></i> Submit
          </button>
        </div>

        <div class="row mt-4">
          <div class="col-md-6">
            <a routerLink="/auth/login" class="text-muted"
              ><i class="mdi mdi-lock mr-1"></i> Back to Login</a
            >
          </div>
          <div class="col-md-6">
            <a routerLink="/auth/forgot-password" class="text-muted"
              ><i class="mdi mdi-key mr-1"></i> Forgot your password?</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
