<div class="auth-body-bg">
  <div class="home-btn d-none d-sm-block">
    <a routerLink="/"><i class="mdi mdi-home-variant h2 text-white"></i></a>
  </div>
  <div>
    <div class="container-fluid p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
